name: Deploy no servidor

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Atualizar código no servidor (como sistema-impress)
        run: |
          sudo -u sistema-impress git -C /opt/sistema-impress config --global --add safe.directory /opt/sistema-impress
          sudo -u sistema-impress git -C /opt/sistema-impress fetch --all
          sudo -u sistema-impress git -C /opt/sistema-impress reset --hard origin/main

      - name: Reiniciar serviço
        run: |
          sudo systemctl restart sistema-impress
          sudo systemctl status sistema-impress --no-pager -l